In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('review-Alaska_reduced_v2.csv')

In [5]:
df.rename(columns={'/gmap_id' : 'Location', '/name' : 'Name', '/rating' : 'Rating', '/text' : 'Review', '/time' : 'Time', '/user_id' : 'User ID'}, inplace = True)
df

,Location,Name,Rating,Review,Time,User ID
0,0x56b646ed2220b77f:0xd8975e316de80952,Nicki Gore,5,We always stay here when in Valdez for silver ...,1566331951619,1.091298e+20
1,0x56b646ed2220b77f:0xd8975e316de80952,Mitch Eichman,5,This was an amazing RV camping experience with...,1503373018846,1.082339e+20
2,0x56b646ed2220b77f:0xd8975e316de80952,Johnnie Anderson,5,Spent the summer of 2011. Had a wonderful time...,1410062370985,1.127191e+20
3,0x56b646ed2220b77f:0xd8975e316de80952,Eric Fox,5,My Wife and I have stayed at Bear Creek severa...,1495241580499,1.114239e+20
4,0x56b646ed2220b77f:0xd8975e316de80952,Allen Ratliff,5,Great campground for the price. Nice hot unlim...,1504917982385,1.132409e+20
...,...,...,...,...,...,...
1032761,0x540c25a454fb47cf:0xf0788e2fb7ba1907,dewa ayu,5,NaN,1547977477738,1.134983e+20
1032762,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Kalli Kline,4,NaN,1612036301339,1.130331e+20
1032763,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Chima Lekwauwa,5,NaN,1595718389332,1.046091e+20
1032764,0x540c25a454fb47cf:0xf0788e2fb7ba1907,geni Arrington- whitney,3,NaN,1544868653427,1.131955e+20
1032765,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Ed ThePopPunkKid,5,NaN,1571068334950,1.091719e+20

In [6]:
df.isnull().sum()

Location         0
Name             0
Rating           0
Review      411557
Time             0
User ID          0
dtype: int64

In [7]:
df.dropna()

,Location,Name,Rating,Review,Time,User ID
0,0x56b646ed2220b77f:0xd8975e316de80952,Nicki Gore,5,We always stay here when in Valdez for silver ...,1566331951619,1.091298e+20
1,0x56b646ed2220b77f:0xd8975e316de80952,Mitch Eichman,5,This was an amazing RV camping experience with...,1503373018846,1.082339e+20
2,0x56b646ed2220b77f:0xd8975e316de80952,Johnnie Anderson,5,Spent the summer of 2011. Had a wonderful time...,1410062370985,1.127191e+20
3,0x56b646ed2220b77f:0xd8975e316de80952,Eric Fox,5,My Wife and I have stayed at Bear Creek severa...,1495241580499,1.114239e+20
4,0x56b646ed2220b77f:0xd8975e316de80952,Allen Ratliff,5,Great campground for the price. Nice hot unlim...,1504917982385,1.132409e+20
...,...,...,...,...,...,...
1032504,0x540c25a454fb47cf:0xf0788e2fb7ba1907,J\u00f6rg S,4,(Translated by Google) Very popular route for ...,1580672614490,1.136016e+20
1032505,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Eduardo vargas duquino,5,(Translated by Google) small picturesque A.eri...,1571255467614,1.027294e+20
1032506,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Anatol Cazacu,4,"(Translated by Google) Umerenno, ne ahti\n\n(O...",1535610489144,1.103251e+20
1032507,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Vrert,5,(Translated by Google) thanks\n\n(Original)\nDank,1563844763809,1.151203e+20
1032508,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Cayetano Oscar,2,(Translated by Google) There is nothing! Very ...,1472416441078,1.045767e+20

In [8]:
df.count()

Location    1032766
Name        1032766
Rating      1032766
Review       621209
Time        1032766
User ID     1032766
dtype: int64

In [9]:
df['Readable Time'] = pd.to_datetime(df['Time'], unit='ms')
df

,Location,Name,Rating,Review,Time,User ID,Readable Time
0,0x56b646ed2220b77f:0xd8975e316de80952,Nicki Gore,5,We always stay here when in Valdez for silver ...,1566331951619,1.091298e+20,2019-08-20 20:12:31.619
1,0x56b646ed2220b77f:0xd8975e316de80952,Mitch Eichman,5,This was an amazing RV camping experience with...,1503373018846,1.082339e+20,2017-08-22 03:36:58.846
2,0x56b646ed2220b77f:0xd8975e316de80952,Johnnie Anderson,5,Spent the summer of 2011. Had a wonderful time...,1410062370985,1.127191e+20,2014-09-07 03:59:30.985
3,0x56b646ed2220b77f:0xd8975e316de80952,Eric Fox,5,My Wife and I have stayed at Bear Creek severa...,1495241580499,1.114239e+20,2017-05-20 00:53:00.499
4,0x56b646ed2220b77f:0xd8975e316de80952,Allen Ratliff,5,Great campground for the price. Nice hot unlim...,1504917982385,1.132409e+20,2017-09-09 00:46:22.385
...,...,...,...,...,...,...,...
1032761,0x540c25a454fb47cf:0xf0788e2fb7ba1907,dewa ayu,5,NaN,1547977477738,1.134983e+20,2019-01-20 09:44:37.738
1032762,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Kalli Kline,4,NaN,1612036301339,1.130331e+20,2021-01-30 19:51:41.339
1032763,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Chima Lekwauwa,5,NaN,1595718389332,1.046091e+20,2020-07-25 23:06:29.332
1032764,0x540c25a454fb47cf:0xf0788e2fb7ba1907,geni Arrington- whitney,3,NaN,1544868653427,1.131955e+20,2018-12-15 10:10:53.427
1032765,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Ed ThePopPunkKid,5,NaN,1571068334950,1.091719e+20,2019-10-14 15:52:14.950

In [10]:
df.head()

,Location,Name,Rating,Review,Time,User ID,Readable Time
0,0x56b646ed2220b77f:0xd8975e316de80952,Nicki Gore,5,We always stay here when in Valdez for silver ...,1566331951619,1.091298e+20,2019-08-20 20:12:31.619
1,0x56b646ed2220b77f:0xd8975e316de80952,Mitch Eichman,5,This was an amazing RV camping experience with...,1503373018846,1.082339e+20,2017-08-22 03:36:58.846
2,0x56b646ed2220b77f:0xd8975e316de80952,Johnnie Anderson,5,Spent the summer of 2011. Had a wonderful time...,1410062370985,1.127191e+20,2014-09-07 03:59:30.985
3,0x56b646ed2220b77f:0xd8975e316de80952,Eric Fox,5,My Wife and I have stayed at Bear Creek severa...,1495241580499,1.114239e+20,2017-05-20 00:53:00.499
4,0x56b646ed2220b77f:0xd8975e316de80952,Allen Ratliff,5,Great campground for the price. Nice hot unlim...,1504917982385,1.132409e+20,2017-09-09 00:46:22.385

In [11]:
df['Review'] = df['Review'].astype(str)
df['totalwords'] = df['Review'].str.count('')+1
df

,Location,Name,Rating,Review,Time,User ID,Readable Time,totalwords
0,0x56b646ed2220b77f:0xd8975e316de80952,Nicki Gore,5,We always stay here when in Valdez for silver ...,1566331951619,1.091298e+20,2019-08-20 20:12:31.619,177
1,0x56b646ed2220b77f:0xd8975e316de80952,Mitch Eichman,5,This was an amazing RV camping experience with...,1503373018846,1.082339e+20,2017-08-22 03:36:58.846,337
2,0x56b646ed2220b77f:0xd8975e316de80952,Johnnie Anderson,5,Spent the summer of 2011. Had a wonderful time...,1410062370985,1.127191e+20,2014-09-07 03:59:30.985,239
3,0x56b646ed2220b77f:0xd8975e316de80952,Eric Fox,5,My Wife and I have stayed at Bear Creek severa...,1495241580499,1.114239e+20,2017-05-20 00:53:00.499,315
4,0x56b646ed2220b77f:0xd8975e316de80952,Allen Ratliff,5,Great campground for the price. Nice hot unlim...,1504917982385,1.132409e+20,2017-09-09 00:46:22.385,136
...,...,...,...,...,...,...,...,...
1032761,0x540c25a454fb47cf:0xf0788e2fb7ba1907,dewa ayu,5,nan,1547977477738,1.134983e+20,2019-01-20 09:44:37.738,5
1032762,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Kalli Kline,4,nan,1612036301339,1.130331e+20,2021-01-30 19:51:41.339,5
1032763,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Chima Lekwauwa,5,nan,1595718389332,1.046091e+20,2020-07-25 23:06:29.332,5
1032764,0x540c25a454fb47cf:0xf0788e2fb7ba1907,geni Arrington- whitney,3,nan,1544868653427,1.131955e+20,2018-12-15 10:10:53.427,5
1032765,0x540c25a454fb47cf:0xf0788e2fb7ba1907,Ed ThePopPunkKid,5,nan,1571068334950,1.091719e+20,2019-10-14 15:52:14.950,5